.menu {
    width: 320px;
    background-color: white;
    height: 100%;
    transition: 1s;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10000;
    &__logo {
        width: 70px;
    }
    &__header {
        padding: 10px 20px 10px 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__cancel {
        height: 18px;
        width: 30px;
        position: relative;
        background-color: transparent;
        &::before,
        &::after {
            position: absolute;
            left: 0;
            height: 2px;
            width: 30px;
            content: '';
            background-color: #205eb5;
        }
        &::before {
            top: 8px;
            transform: rotate(-45deg);
        }
        &::after {
            bottom: 8px;
            transform: rotate(45deg);
        }
    }
    &__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__link {
        margin: 10px;
        color: #205eb5;
        background-color: transparent;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: 3px;
    }
}

@media (max-width: 676px) {
    .menu {
        width: 100%;
    }
}

@media (min-width: 677px) {
    .menu {
        &__link {
            &:hover {
                scale: 1.2;
            }
        }
    }
}
