.top {
    height: 260px;
    background: url('./back2.png') center 0 / cover;
    display: flex;
    align-items: center;
    justify-content: center;
    &__title {
        font-size: 32px;
        color: #205eb5;
        font-weight: 600;
    }
}
